<li class="h5"><%= "Options" %></li>
<%= menu.nav_link('/admin/branding') do %>
  <span class="fa fa-paint-brush" aria-hidden="true"></span> <span class="sidebar-action-text">Display</span>
<% end %>
