<%= javascript_include_tag 'zizia/application' %>
<div id="zizia_new" class="zizia">
  <h2><span class="glyphicon glyphicon-cloud-upload"></span> Batch Import </h2>
  <% unless @antivirus_running %>
    <h3><span style="color:red">WARNING:</span> antivirus is not configured correctly, please contact your system administrator</h3>
  <% end %>
  <% unless @image_conversion_running %>
    <h3><span style="color:red">WARNING:</span> image conversion is not configured correctly, please contact your system administrator</h3>
  <% end %>
  <% unless @audiovisual_conversion_running %>
    <h3><span style="color:red">WARNING:</span> media processing is not configured correctly, please contact your system administrator</h3>
  <% end %>
  <%= render 'form', csv_import: @csv_import %>
</div>
