<%= javascript_include_tag 'zizia/application' %>
<div id="zizia_new" class="zizia">
  <h2><span class="glyphicon glyphicon-cloud-upload"></span> Batch Import </h2>
  <% unless @clamd_running %>
    <p>WARNING: antivirus is not configured correctly, please contact your system administrator</p>
  <% end %>
  <%= render 'form', csv_import: @csv_import %>
</div>
