<div class="container branding">
  <div class="container">
    <h3>Banner image</h3>
    <%= image_tag("banner_image.jpg", size: "500x100", id: 'banner-image') %>
  </div>
  <%= link_to 'Edit', edit_admin_branding_path("1") %>
</div>
