.image-masthead .navbar {
  background-color: rgba(0, 0, 0, 0.1);
  font-weight: bold;
}

.navbar {
  border: 0;
}

.navbar-static-top {
  li {
    a {
      padding-bottom: 17px;
    }
  }
}

@media (min-width: 768px) {
  .form-horizontal .control-label {
    height: 30px;
  }
}
