<div class="form-group">
  <% collections = ActiveFedora::SolrService.query('has_model_ssim:Collection') %>
  <%= form.select :fedora_collection_id, options_for_select(collections.map{ |c| [c['title_tesim'][0], c['id']] }), {}, class: "form-control", id: "fedora_collection_id"  %>
</div>
