<%= form.file_field :manifest, required: true, id: 'file-upload', class: "file-upload form-control" %>
<label for="file-upload" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-upload"></span> Upload Your CSV</label>
